body {
    background-color: black;
}

p {
    color: white; 
    font-family: verdana;
    text-align: center;
}

div.center {
  margin: auto;
  width: 60%;
  padding:20px;
}

div.left {
  float: left;
  margin-right: 25px;
}

div.right {
  padding: 50px;
  text-align: left;
}

body.noScroll { /* ...or body.dialogShowing */
  overflow: hidden;
}

.btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}