
html {
  overflow-y: scroll;
}

#wrap {
	width:960px; margin:0 auto;
}


A.pcm {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: white; FONT-FAMILY: Verdana, Arial,Helvetica; TEXT-DECORATION: none
}
A.pcm:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: white; FONT-FAMILY: Verdana, Arial,Helvetica; BACKGROUND-COLOR: blue; TEXT-DECORATION: none
}
A.pcmx {
        FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #00ffff; FONT-FAMILY: Verdana, Arial,Helvetica; TEXT-DECORATION: none
}
A.pcmx:hover {
        FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #00ffff; FONT-FAMILY: Verdana, Arial,Helvetica; BACKGROUND-COLOR: blue; TEXT-DECORATION: none
}

A.pcm2 {
        FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: white; FONT-FAMILY: Verdana, Arial,Helvetica; TEXT-DECORATION: none
}
A.pcm2:hover {
        FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: white; FONT-FAMILY: Verdana, Arial,Helvetica; BACKGROUND-COLOR: blue; TEXT-DECORATION: none
}
A.pcm2x {
        FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #00ffff; FONT-FAMILY: Verdana, Arial,Helvetica; TEXT-DECORATION: none
}
A.pcm2x:hover {
        FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #00ffff; FONT-FAMILY: Verdana, Arial,Helvetica; BACKGROUND-COLOR: blue; TEXT-DECORATION: none
}

A.pcmj {
        FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: white; FONT-FAMILY:Verdana, Arial,Helvetica; TEXT-DECORATION: none
}
A.pcmj:hover {
        FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: white; FONT-FAMILY: Verdana, Arial,Helvetica; BACKGROUND-COLOR: blue; TEXT-DECORATION: none
}




A.small {
	FONT-SIZE: 10px; COLOR: white; FONT-FAMILY: Geneva, Arial, Helvetica; TEXT-DECORATION: none
}
A.small:hover {
	FONT-SIZE: 10px; COLOR: white; FONT-FAMILY: Geneva, Arial, Helvetica; TEXT-DECORATION: underline
}


A.small1 {
	FONT-SIZE: 8px; COLOR: white; FONT-FAMILY: Geneva, Arial, Helvetica; TEXT-DECORATION: none
}

A.name {
        FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: black; FONT-FAMILY: Arial, Verdana, Helvetica; TEXT-DECORATION: none
}
A.name2 {
        FONT-SIZE: 10px; COLOR: grey; FONT-FAMILY: Arial, Verdana, Helvetica; TEXT-DECORATION: none
}



TD {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Arial,sans-serif
}

.number {
        FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666699; FONT-FAMILY: Arial,sans-serif
}
.headx {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #ff8c00; FONT-FAMILY: Arial,sans-serif
}
.head {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #003366; FONT-FAMILY: Arial,sans-serif
}
.menu {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #666699; FONT-FAMILY: Arial,sans-serif
}
.bright {
        FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #cc3300; FONT-FAMILY: Arial,sans-serif
}
.copyright {
	FONT-SIZE: 8pt; COLOR: #b3b3b3; FONT-FAMILY: Arial,sans-serif
}
.legal {
        FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: Arial, Verdana, Helvetica; TEXT-DECORATION: none
}
.for {
        FONT-SIZE: 10px; COLOR: navy; FONT-FAMILY: Arial, Verdana, Helvetica; TEXT-DECORATION: none
}
.inv {
        FONT-SIZE: 10px; COLOR: #FFFEEE; FONT-FAMILY: Arial, Verdana, Helvetica;
}


H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FONT-FAMILY: Arial, sans-serif
}
.bg {
        BACKGROUND-COLOR: #003366;
}
.bgwhite {
        BACKGROUND-COLOR: #FFFFFF; COLOR: #000000
}
.bggrey {
        BACKGROUND-COLOR: #EEEEEE; 
}
 
.body {
        BACKGROUND-COLOR: #000000; 
        max-width: 1080px;
        margin:0 auto;
        float: none;
}

.headline {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #003366; FONT-FAMILY: Arial,sans-serif;
	padding-left: 8px;
	line-height: 25px;
	background-color: #E7E7F8;
	border-right-color: #E0E0E0;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-color: #E0E0E0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

H1 {  FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #003366; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none}
H2 {  FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #003366; FONT-FAMILY: verdana, arial, helvetica, sans-serif}
H3 {  FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #003366; FONT-FAMILY: verdana, arial, helvetica, sans-serif}
H4 {  FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #003366; FONT-FAMILY: verdana, arial, helvetica, sans-serif}


.white_right_border {
    border-right:1px solid #FFFFFF;
}

.blue_header_bg {
    background-color:#4C4E4F;
    color:#FFFFFF;
    font:bold 12px/14px Arial,Helvetica,sans-serif;
    margin:0;
    padding:5px 9px;
}

.blue_left_bor {
    border-left:1px solid #818588;
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
}

.greybg {
    background-color:#D8D8D8;
    border-right:1px solid #818588;
    border-top:1px solid #818588;
    color:#000000;
    font:bold 11px/14px Arial,Helvetica,sans-serif;
    margin:0;
    padding:5px 9px;
}

.blue_right_bor {
    border-right:1px solid #818588;
    font-size:12px;
}

.white_bg {
    background-color:#FFFFFF;
    border-bottom:1px solid #818588;
    color:#000000;
    font:12px/18px Arial,Helvetica,sans-serif;
    margin:0;
    padding:5px 20px;
}

.white_bg,th td {
    vertical-align:middle;
}

.side-bg table td {
    color:#3E3E3E;
    font:bold 15px/19px Arial,Helvetica,sans-serif;
    text-align:right;
    vertical-align:top;
}

.white_bg a {
    color:#0033CC !important;
    margin:0;
    padding:0;
    text-decoration:none;
}


